@import "global";

$paddingSide: 8vw;
$bodyText: 4.5vw;
.mobile{
    color: $greyX;
    .firstView{
        // background-color: blue;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        
        video{
          max-width: 100%;
        }

        .arrow {
          // background-color: olive;
          position: relative;
          top: 30%;
          height: 10%;
          .arrowImg{
            position: absolute;
            left: 46%;
            top: 30%;
            max-width: 8%;
            animation: arrowBounce 2s infinite ease-in-out;
          }
        }

    }

    .logoHeader{
        position: fixed;
        height: 10vh;
        top: 0;
        left: 36.5%;
        width: 27vw;
        padding-top:5vh;
        z-index: 100;
        .logoImg{
            background-color: #060608;
            max-height: 100%;
        }
    }
    
    .firstText{
        // background-color: red;

        padding: 10vh $paddingSide;
        padding-bottom: 0vh;
        display: flex;
        &>h1{
            width: 45%;
            display: flex;
            flex-direction: column;
            color: $goldX;
            font-family: $sans;
            align-items:flex-start;
        }
        &>div{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-size: $bodyText;
            width: 55%;
            font-family: $serrif;
        }
    }

    .animateThis{
        span, p{
            opacity: 0;
            filter: blur(4px);
            transform: translateX(-5px);
        }
    }

    .count{
        // background-color: blue;
        padding: 22vh $padding;
        padding-bottom: 0vh;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 40vh;
        .container{
            border-top: solid $goldX 1px;
            border-bottom: solid $goldX 1px;
            overflow: hidden;
            height: 0vw;
            margin: auto;
            width: 0vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &>div{
                margin: auto;
                height: fit-content;
                width: fit-content;
            }
        }
        h1{
            font-family: $sans;
            font-size: 20vw;
            line-height: 50%;
            padding-top: 11vw; //half of font size
            color: $goldX;
        }
        p{
            font-family: $serrif;
            font-size: $bodyText
        }
    }

    .secondText{
        // background-color: pink;
        padding-top: 4vh;
        padding-bottom: 25vh;
        display: flex;
        &>h1{
            height: 70vw;
            justify-content: space-around;
        }
        &>div{
            font-size: $bodyText;
            height: 76.3vw;
            width: 55%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    
    .mobileForm{

        div {
          border-radius: 0.1;
        }

        .email {
          margin-bottom: 1vh;
        }

        .file {
          margin-bottom: 1vh;
        }

        .fileActive {
          margin-bottom: 1vh;
        }

        .submit {
          margin-bottom: 0.5vh;
        }

        // background-color: orange;
        width: 22.5vw;
        margin: auto;
        transform: scale(3.5); //dude im CHEATING
        margin-bottom: 2vh;
        .x{
            display: none;
        }
    }

    @keyframes arrowBounce {
      0% { top: 30% }
      50% { top: 15% }
      100% { top: 30% }
    }
}







